/**
* @name OldDiscordFont
* @author Snappy#1421
* @description Discord changed their font recently, this will change it back to the old one
* @version 1.0.2
* @source https://github.com/snappycreeper/OldDiscordFont
*/

:root {
    --font-primary: "Whitney", "gg sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
    --font-display: "Whitney", "gg sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

@font-face {
    font-family: "Whitney";
    font-style: normal;
    font-weight: 300;
    src: url("https://cdn.jsdelivr.net/gh/snappycreeper/olddiscordfont/fonts/Whitney-Normal-300.woff2") format("woff2");
}

@font-face {
    font-family: "Whitney";
    font-style: italic;
    font-weight: 300;
    src: url("https://cdn.jsdelivr.net/gh/snappycreeper/olddiscordfont/fonts/Whitney-Italic-300.woff2") format("woff2");
}

@font-face {
    font-family: "Whitney";
    font-style: normal;
    font-weight: 400;
    src: url("https://cdn.jsdelivr.net/gh/snappycreeper/olddiscordfont/fonts/Whitney-Normal-400.woff2") format("woff2");
}

@font-face {
    font-family: "Whitney";
    font-style: italic;
    font-weight: 400;
    src: url("https://cdn.jsdelivr.net/gh/snappycreeper/olddiscordfont/fonts/Whitney-Italic-400.woff2") format("woff2");
}

@font-face {
    font-family: "Whitney";
    font-style: normal;
    font-weight: 500;
    src: url("https://cdn.jsdelivr.net/gh/snappycreeper/olddiscordfont/fonts/Whitney-Normal-500.woff2") format("woff2");
}

@font-face {
    font-family: "Whitney";
    font-style: italic;
    font-weight: 500;
    src: url("https://cdn.jsdelivr.net/gh/snappycreeper/olddiscordfont/fonts/Whitney-Italic-500.woff2") format("woff2");
}

@font-face {
    font-family: "Whitney";
    font-style: normal;
    font-weight: 600;
    src: url("https://cdn.jsdelivr.net/gh/snappycreeper/olddiscordfont/fonts/Whitney-Normal-600.woff2") format("woff2");
}

@font-face {
    font-family: "Whitney";
    font-style: italic;
    font-weight: 600;
    src: url("https://cdn.jsdelivr.net/gh/snappycreeper/olddiscordfont/fonts/Whitney-Italic-600.woff2") format("woff2");
}

@font-face {
    font-family: "Whitney";
    font-style: normal;
    font-weight: 700;
    src: url("https://cdn.jsdelivr.net/gh/snappycreeper/olddiscordfont/fonts/Whitney-Normal-700.woff2") format("woff2");
}

@font-face {
    font-family: "Whitney";
    font-style: italic;
    font-weight: 700;
    src: url("https://cdn.jsdelivr.net/gh/snappycreeper/olddiscordfont/fonts/Whitney-Italic-700.woff2") format("woff2");
}
